*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-image: url(https://wallpapercave.com/wp/wp8984722.jpg);
  background-size:cover;
  background-position: center;
  font: 1em sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-top: 20px;
}

.winner-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  color: #ff6347; 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



